<% flash.each do |type, message| %>
  <div class="flash-message <%= flash_class(type) %> relative" 
       data-controller="flash" 
       data-transition-duration="300"
       data-flash-target="message">
    <div class="flex justify-between items-center">
      <div><%= message %></div>
      <button type="button" 
              class="ml-2 focus:outline-none"
              data-action="flash#dismiss">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flash-progress absolute bottom-0 left-0 h-1 bg-current opacity-20"
         data-flash-target="progress"></div>
  </div>
<% end %>